html {
	position: relative;
    min-height: 100%;
}

body {
 background-image: url("/guidatv/images/background.jpg");
 background-size: cover;
 margin: 0 0 100px;
 color:black;
 
}

.footer-wrapper {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 104px;
    width: 100%;
}

table tbody td {
	color:black;
}

h1,h1 {
	color:black;
}

.bgded.overlay.row4 {
	margin-top:15px;
}